.content(ng-controller='entityCtrl', ng-style='menuStyle("content")')
  .btn-group.btn-group-justified
    .btn-group
      button.btn.btn-default.parent-link(type='button', title='Univeristy of Tartu')
        i.fa.fa-arrow-up.pull-left
        | Univeristy of Tartu

    .btn-group
      button.btn.btn-default.parent-link(type='button', title='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus odio eu nunc euismod, vel lacinia neque consectetur')
        i.fa.fa-arrow-up.pull-right
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus odio eu nunc euismod, vel lacinia neque consectetur


  img(ng-src='{{ page_url }}/api2/entity-40928/picture', width='120')

  h1 L. lactis dairy starters

  table.table.table-condensed.table-hover.entity
    tbody
      tr
        th Rada
        td L. lactis dairy starters


      tr
        th Short Name
        td L. lactis dairy starters


      tr
        th Pealkiri
        td Optimisation of media and growth conditions for the production of high yield biomass of Lactococcus lactis with high acidification activity


      tr
        th Kirjeldus
        td Lactococcus lactis is and important organism in producing fermented dairy products. In order to produce an effective dairy starter it is important to understand  and improve growth of L. lactis in milk. What is more, it is necessary to increase biomass yield and optimize the growth conditions of industrial starter production. All the latter issues are targeted in current project in co-operation with DuPont France.
