doctype html
html(ng-app='entuApp', ng-controller='mainCtrl')
  head

    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='author', content='Argo Roots')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    title {{ page_title }}

    link(href='/static/images/favicons/favicon.png?v=1', rel='apple-touch-icon')
    link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Caption:400,700', rel='stylesheet', type='text/css')

    style @@include('assets/stylesheet.css')
    script @@include('assets/javascript.js')

  body

    include _sidebar
    include _navbar
    include _list
    include _content
